<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#F79244" />
    <link rel="apple-touch-icon" sizes="180x180" href="/src/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="/src/public/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="1024x1024" href="/src/public/images/favicon-1024x1024.png">
    <link rel="icon" type="image/png" sizes="128x182" href="/src/public/images/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/src/public/images/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/public/images/favicon-16x16.png">
    <title>Goodreads Stats</title>
  </head>
  <body>
    <div
      id="root"
      class="flex flex-col h-screen overflow-hidden text-neutral-900 print:h-auto print:overflow-auto"
    ></div>
    <script src="/src/dist/extension.bundle.js"></script>
  </body>
</html>
