<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#F79244" />
    <!-- TODO: Add Icons: -->
    <!--    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">-->
    <!--    <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#F79244">-->
    <!--    <link rel="shortcut icon" href="/favicon.ico" sizes="any">-->
    <!--    <link rel="icon" href="/static/img/favicon-512x512.png" sizes="any">-->
    <!--    <link rel="icon" href="/static/img/short_logo.svg" type="image/svg+xml">-->
    <title>Goodreads Stats</title>
  </head>
  <body>
    <div
      id="root"
      class="flex h-screen overflow-hidden text-neutral-900 print:h-auto print:overflow-auto"
    ></div>
    <script src="/src/dist/extension.bundle.js"></script>
  </body>
</html>
